body {
	background-color: #f1f1f1;
}

.col-description img {
	margin-left: 22px;
	margin-right: 22px;
}
.col-description img:nth-child(2) {
	margin-left: 0;
	margin-right: 22px;
}
.col-description img:nth-child(5) {
	margin-right: 0;
	margin-left: 22px;
}

@media only screen and (max-width : 992px) {
	.col-description img {
		margin-left: 14px;
		margin-right: 14px;
	}
	.col-description img:nth-child(2) {
		margin-left: 0;
		margin-right: 13px;
	}
	.col-description img:nth-child(5) {
		margin-right: 0;
		margin-left: 13px;
	}
}

.alert-delete {
   position: absolute; 
   top: 0; 
   left: 0; 
   width: 100%; 
   height: 100%; 
   z-index: 10; 
   background-color: rgba(255, 255, 255, 0.85); 
   text-align: center; 
   transition: all 1s; 
   border-top: 1px solid red
}

#itemsList,
.items-relation {
    display: block;
    width: 100%;
    min-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.panel-item .help-block,
.modalContent .help-block {
    background: #f1f1f1;
    padding: 4px 10px;
    color: #000;
    margin: 0 !important;
    border: 1px solid #f1f1f1;
}

.panel-item .help-block--textarea,
.modalContent .help-block--textarea {
    height: 70px;
    overflow: auto;
}

.panel-item .form-group {
    margin-bottom: 10px !important;
}

.panel-item .form-label-full {
    margin-bottom: 0 !important;
}

.panel-item--image {
    position: relative;
    display: block;
    width: 100%;
    height: 170px;
    background-color: #f1f1f1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
}

.panel-item--image p {
    margin-top: 60px;
    text-align: center;
}

.panel-item--image_nav {
    position: absolute;
    width: auto;
    height: 100%;
    top: 10px;
    left: 10px;
}

/*
#itemsAside,
#itemsSection {
    overflow: hidden
}

#itemsList,
#itemsTabs .cto_form {
    overflow: auto;
}

#itemsAside,
#itemsSection,
#itemsTabs,
#itemsTabs .tab-pane {
    height: 100%;
}

#itemsList,
#itemsTabs .cto_form {
    height: 90%;
}*/

.is-select .help-block {
    color: #555;
    padding: 5px 10px;
    margin: 0;
}

.btnItemDelete:focus {
    outline: 0;
}

a.help-block {
    color: #337ab7 !important;
}
/**
 * HELPERS
 */

/* Borders */
.border-top--clear { border-top: none  }

 /* Margins */
.margin-clear { margin: 0 }
.margin-bottom--clear { margin-bottom: 0 }
.margin-bottom--5 { margin-bottom: 5px }
.margin-bottom--10 { margin-bottom: 10px }
.margin-bottom--20 { margin-bottom: 20px }
.margin-bottom--30 { margin-bottom: 30px }
.margin-bottom--50 { margin-bottom: 50px }
.margin-bottom--100 { margin-bottom: 100px }
.margin-left--clear { margin-left: 0 }
.margin-right--5 { margin-right: 5px }
.margin-top--5 { margin-top: 5px }
.margin-top--10 { margin-top: 10px }
.margin-top--20 { margin-top: 20px }
.margin-top--30 { margin-top: 30px }
.margin-top--50 { margin-top: 50px }


/* Paddings */
.padding-clear { padding: 0 }
.padding-left--clear { padding-left: 0 }
.padding-right--clear { padding-right: 0 }
.padding-bottom--5 { padding-bottom: 5px }
.padding-bottom--10 { padding-bottom: 10px }
.padding-bottom--30 { padding-bottom: 30px }
.padding-top--clear { padding-top: 0 }
.padding-top--5 { padding-top: 5px }
.padding-top--10 { padding-top: 10px }

/* Aligments */
.td-center td {
  vertical-align: middle !important;
}

/* Backgrounds */
.bg-white { background-color: #fff }

/* Borders */ 
.border-bottom--clear { border-bottom: 0 }

/* Positions */
.position-relative,
.panel-section .panel-body {
    position: relative;
}
.panel-section .panel-body {
    padding-bottom: 5px !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**
 * Bootstrap theme
 */

.btn-lg-hr {
  padding: 5px 30px;
}

.btn-default.btn-submit {
 	border: 1px solid #000;
 	border-bottom: 3px solid #000;
}

.btn-toggle {
  width: auto;
  cursor: pointer;
}
.btn-left {
    text-align: left !important;
}
.btn-control {
    overflow-x: hidden;
}
.btn-action {
    color: #fff;
    background-color: #2196f3;
}
.btn-action:hover {
    color: #fff;
    background-color: #64b5f6;
}

.btn-danger--outline {
    border: 1px solid #ef5350;
}

.navbar-default .nav .dropdown-work li:last-child > a {
    border-left: 0;
    color: #fff;
}

.navbar-default .nav .dropdown-work li:last-child > a:hover {
    border-left: 0;
    color: #fff;
    background-color: #3370ad;
}



.dropdown-work .dropdown-menu {
    padding-bottom: 0;
}

.label-cover input,
.label-cover select,
.label-cover textarea {
    font-weight: 400 !important;
    margin-top: 5px;
}

.cto_form label {
    margin-bottom: 0;
}

.cto_form .form-control.input-sm {
    font-size: 14px;
}

.form-control-plain,
.form-control-plain[disabled="disabled"] {
  border: 0;
  box-shadow: none;
    margin-bottom: 0;
}

.form-control-plain {
  border: 1px solid #ddd;
}
.form-label-full,
.form-control-full {
  width: 100% !important;
}

.form-control-ghost,
.form-control-ghost:focus,
.form-control-ghost .form-control[disabled],
.form-control-ghost .form-control[readonly] {
    border-color: transparent;
    background-color: transparent !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-group-table {
    display: table !important;
    margin-bottom: 10px !important;
}
.form-group-row {
    display: table-row !important;
}
.form-group-cell {
    display: table-cell !important;
    margin-bottom: 10px !important;
}

.form-group-cell.form-control {
    width: 100% !important;
}
.form-group-space {
    height: 40px;
}

.li-works > a {
    border-left:1px solid #ddd;
}

.navbar-default {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    z-index: 1001;
    min-height: 40px !important;
}
.navbar-default .navbar-text {
    margin: 0;
    padding: 12px;
    background: #337ab7;
    color: #fff;
}

.navbar-default .nav li > a {
    padding: 10px 15px;
    color: rgba(0, 0, 0, 0.7);
    border-left: 1px solid #f1f1f1;
}
.navbar-default .nav li > a:hover {
    color: rgba(0, 0, 0, 0.9);
    background-color: #fafafa;
}

.navbar-default .nav li > a {
    transition: .3s ease-out;
}
.navbar-default .navbar-header {
    height: 40px;
}

.navbar-default .navbar-brand {
    padding: 0;
    /*margin-right: 10px;*/
    height: 40px;
}
.navbar-default .navbar-brand > img {
    width: auto;
    height: 40px;
}

.nav-actions {
    margin: 0;
}
.nav-actions > li > a {
    padding: 5px;
    font-size: 12px;
}

.navbar-default .nav-actions > li > a {
    padding: 5px
    !important;
    font-size: 12px;
    color: #337ab7 !important;
    border-left: 0 !important;
}

.nav-actions > li > a.disabled {
    color: #8c8c8c;
}

.nav-actions > li > a:hover,
.nav-actions > li > a:focus,
.nav-actions > li > a:active,
.nav-actions > li > a:visited {
    background-color: transparent;
}

/*.nav-works {
  border-bottom: 1px solid #ddd;
}*/
.nav-works > li > a {
    color: rgba(0, 0, 0, 0.7);
    padding: 8px;
}
.nav-works > li > a:hover {
  color: rgba(0, 0, 0, 1);
  background-color: #fafafa;
}
.nav-works > li:first-child {
  border-left: 0
}
/*
.nav-works > li {
  border-left: 1px solid #ddd
}*/
.nav-works > li+li {
  margin-left: 0;
}
.nav-works > li.active > a {
  background-color: #fff;
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid #337ab7;
}
.nav-tabs-works > li > a {
    padding: 8px;
    font-size: 12px;
}

.navbar-actions .navbar {
  background-color: #fff;
  border: 1px solid #ddd;
}
.navbar-actions .nav > li > a {
  padding: 6px;
  color: #2196f3
}
.navbar-actions .nav > li.save {
  border-right: 1px solid #ddd
}
.navbar-actions .nav > li > a:hover,
.navbar-actions .nav > li > a:focus {
  padding: 6px;
  color: #64b5f6;
  outline: 0;
}
.navbar-actions .navbar-text {
  color: #000
}

.pagination {
  margin: 0;
}

.panel-section {
    margin: 0;
}

.panel-section .panel-heading {
	background-color: #222;
	color: #fff;
  border-bottom: 0;
}

.panel-section .panel-body {
    height: 100%;
}

.panel-section-title {
  padding: 5px 10px;
}

.panel-section .list-group-item {
    /*background-color: #fafafa;*/
    margin-bottom: 1px;
}

.panel-section .list-group-item.active {
    background-color: #337ab7;
}

.panel-section .list-group-item,
.panel-section .list-group-item.active {
  border: 0;
  /*border-bottom: 1px solid #ddd;*/
  margin-bottom: 1px;
}

.panel-section .list-group-item:last-child {
  border-bottom: 0;
}

/*
.panel-section .list-group {
  border-right: 1px solid #ddd;
}*/

.table-clear, .table-clear > tbody > tr > td {
  margin: 0;
  border: 0;
  padding: 0;
}

.table-info {
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  margin: 0;
}

.table-info > tbody > tr > td{
  padding: 5px 15px;
  border-top: 0
}

.table-info > tbody > tr > td:first-child {
  border-left: 0;
}
.table-info > tbody > tr > td:last-child {
  border-right: 0;
}

.list-group[class*="col-"] {
  padding-right: 0;
}

/** 
 *	Large Dropdow by diglog
 *	@see http://bootsnipp.com/snippets/featured/large-dropdown-menu
 */
.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
  width: 768px;
  z-index: 999;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px !important;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
  border: 0 !important;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}

.bootstrap-select {
  width: 100% !important
}

/**
 * Fontawsome
 */
.fa-middle { vertical-align: middle }

.input-group .bootstrap-select.form-control {
    z-index: inherit;
}


.search-ajax .dropdown-menu{
    width: 100%;
}

.bootstrap-select .dropdown-menu {
    z-index: 999;
}